/******************************************
GENERAL STYLES
******************************************/
html, body {
    height: 100%;
    
    margin: 0;
    padding: 0;
    
    background: #dcdcdc;
}

/******************************************
HEADING STYLES
******************************************/
#heading {
    width: 100%;
    height: 10%;
    
    background: #42b528;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .4);
}

#heading h1 {
    text-align: center;
    font-size: 4em;
    
    color: #eee;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, .5);
}

/******************************************
CONTAINER STYLES
******************************************/
.container {
    height: 100%;
}

.container .row {
    height: inherit;
}

/******************************************
MAP STYLES
******************************************/

.container #map {
    height: 50%;
    width: 100%;
    
    margin-top: 2%;
    padding: 0;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .4),
                0px 0px 5px rgba(0, 0, 0, .2);
}

/******************************************
INPUT FORM STYLES
******************************************/
.inputForm {
    margin-top: 2%; 
}

.inputForm form{
    width: 50%;
}

.inputForm form input {
    padding: 3px 5px;
    margin: 5px 0;
    
    width: 100%;
    height: 50px;
    
    border: none;
    
    font-size: 1.6em;
}

.inputForm form button,
#current button{
    margin-bottom: 5px;
    
    box-shadow: 1px 3px 2px rgba(0, 0, 0, .5);
    
    transition: all .2s ease-out;
}

/******************************************
CURRENT DIV STYLES
******************************************/
#current {
    margin-top: 2%;
    height: 200px;
    padding: 0;
}

#current span, h2 {
    margin: 0;
    margin-left: -21%;
    
    text-align: left;    
    color: #fff;
    font-size: 1.6em;
    
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

#current #fullAddress{
    height: 50px;
    width: 130%;
    
    margin-left: -30%;
    
    background: rgba(0, 0, 0, .1);
    border: 1px solid gray;
    box-shadow: 3px 1px 3px rgba(0, 0, 0, .2);
    
    color: #fff;
    text-align: center;
    font-size: 1.3em;
}

#current p {
    margin-top: 2%;
    margin-left: -20%;
    
    color: #555;
    font-size: 1.2em;
}

#current button {
    margin-left: -20%;
}

/******************************************
CUSTOM CLASSES
******************************************/
.danger {
    box-shadow: inset 1px 1px tomato,
                inset -1px -1px tomato;
}

.success {
    box-shadow: inset 1px 1px 2px lightgreen,
                inset -1px -1px 2px lightgreen;
}

.mid {
    margin: 0;
    margin: 10% 35% !important;
    
    border-left: 2px solid #777;
}